@import './base.css';

@font-face {
  font-family: 'SmileySans';
  src: url('/SmileySans-Oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'SarasaMonoSC';
  src: url('/SarasaMonoSC-ExtraLightItalic.ttf') format('truetype');
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  background-color: #181818;
  margin: 0;
  min-height: 100vh;
  font-family: 'SmileySans';
}

* {
  color: #717171;
  font-family: 'SmileySans';
}

* {
  color: #717171;
}

button {
  background-color: rgb(42, 42, 42);
  border-radius: 12.3px;
}

button:hover {
  background-color: rgb(51, 51, 51);
}

button:active {
  background-color: #212121;
}

.inline {
  display: block;
}

.inline * {
  display: inline-table;
}